body{
    font-family: Verdana;
    background-color: black;
    text-align: center;
}

h1,
h2{
    color : white;
    text-align: center;
}

h1{
    font-weight: normal;
    font-size: 50px;
}

h2{
    font-weight: 300;
    font-size: 42px;
}

a{
    font-size: 16px;
    color: aquamarine;
    text-align: center;
}

.icon{
    margin-top: 10px;
}


p{
    color : gray;
    font-size: 21px;
}

.footer p{
    text-align: right;
}